apiVersion: v1
kind: Service
metadata:
  name: lead-framework
  namespace: lead-framework
  labels:
    app: lead-framework
  annotations:
    prometheus.io/scrape: "true"
    prometheus.io/port: "8080"
spec:
  type: ClusterIP
  ports:
  - port: 80
    targetPort: 8080
    protocol: TCP
    name: http
  selector:
    app: lead-framework
---
apiVersion: v1
kind: Service
metadata:
  name: lead-framework-headless
  namespace: lead-framework
  labels:
    app: lead-framework
spec:
  type: ClusterIP
  clusterIP: None
  ports:
  - port: 8080
    targetPort: 8080
    protocol: TCP
    name: http
  selector:
    app: lead-framework
