namespaceSelector: ["default"]

graph:
  entry: frontend
  services:
    - name: frontend
      dependsOn: [search, user, recommendation, reservation]

    - name: search
      dependsOn: [profile, geo, rate]

    - name: profile
      dependsOn: [memcached-profile, mongodb-profile]

    - name: geo
      dependsOn: [mongodb-geo]

    - name: rate
      dependsOn: [memcached-rate, mongodb-rate]

    - name: user
      dependsOn: [mongodb-user]

    - name: recommendation
      dependsOn: [mongodb-recommendation]

    - name: reservation
      dependsOn: [memcached-reserve, mongodb-reservation]

    - name: memcached-profile
      dependsOn: []

    - name: mongodb-profile
      dependsOn: []

    - name: mongodb-geo
      dependsOn: []

    - name: memcached-rate
      dependsOn: []

    - name: mongodb-rate
      dependsOn: []

    - name: mongodb-user
      dependsOn: []

    - name: mongodb-recommendation
      dependsOn: []

    - name: memcached-reserve
      dependsOn: []

    - name: mongodb-reservation
      dependsOn: []

prometheus:
  url: "http://prometheus-kube-prometheus-prometheus.monitoring:9090"

  NodeRTTQuery: |
    histogram_quantile(
      0.5,
      sum(
        rate(cilium_node_health_connectivity_latency_seconds_bucket[10m])
      ) by (instance, le)
    )

  NodeDropRateQuery: |
    sum(
      rate(cilium_drop_bytes_total[10m])
    ) by (instance)

  NodeBandwidthQuery: |
    sum(
      rate(hubble_flows_processed_total[10m])
    ) by (instance)

  sampleWindow: "10m"

scoring:
  # Base weights
  pathLengthWeight:     1.0
  podCountWeight:       1.0
  serviceEdgesWeight:   1.0
  rpsWeight:            0.0

  # Network weight importance
  netLatencyWeight:     2.0
  netDropWeight:        3.0
  netBandwidthWeight:   1.0

  # Node penalty thresholds
  badLatencyMs:   100.0
  badDropRate:    10000

affinity:
  topPaths:           5
  minAffinityWeight:  50
  maxAffinityWeight:  100
